<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Customer Portal Functional test suite">
  <test name="Functional Test" preserve-order="true">
    <classes>
    
    <!--   <class name="testCases.Admin.TC_VerifyLogin"/> 
      <class name="testCases.Admin.TC_VerifyAgency"/> 
      <class name="testCases.Admin.TC_VerifyAgencyAddress"/>
      <class name="testCases.Admin.TC_VerifyBranch"/>
      <class name="testCases.Admin.TC_CreateMarketingUser"/>   
      <class name="testCases.Admin.TC_EditMarketingUser"/>   
      <class name="testCases.Admin.TC_DeleteMarketingUser"/>  -->  
         <class name="testCases.MarketingUser.TC_VerifyMarketingLogin"/>  
	     <class name="testCases.MarketingUser.TC_RevenueSummaryDateSearch"/>
         <class name="testCases.MarketingUser.TC_RevenueSummaryPublicationSearch"/>
         <class name="testCases.MarketingUser.TC_RevenueSummarySalesOfficeSearch"/>   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
